@charset "UTF-8";

*{
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif; 
}

 body{
    background-image: linear-gradient(to bottom, #20C0A5, #329685);
 }

 main {
    background-color: white;
    border-radius: 10px;
    width: 600px;
    margin: auto;
    padding: 10px;
    box-shadow: 5px 5px 15px #1c574da4;
 }

 h1{
    color: #01EBC3;
    text-align: center;
    text-shadow: 1px 1px 2px #01615191;
 }

 h2{
    color: #3a7269;
 } 

 p{
    text-align: justify;
 }