@charset "UTF-8";

body{
    background-color: rgb(168, 255, 226);
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}

h1{
    color: rgb(5, 70, 48);
}

#principal{
    text-align: center;
    text-decoration: underline;
    background-color: rgb(0, 90, 60);
    color: antiquewhite;
}

.basico{
    color: rgba(72, 170, 77, 0.979);
}

.intermediario{
    color: darkgoldenrod;
}

.avancado{
    color: brown;
}

p{
    text-indent: 20px;
}