@charset "UTF-8";

body{
    background-color: darkorange;
}
h1{
    color: brown;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
}
h2{
    font-family: Arial, Helvetica, sans-serif;
}
p{
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    color: aliceblue;
}