@charset 'UTF-8';

@media screen and (max-width: 580px) {
    main{
        width: 85vw;
        text-align: justify;
    }
    header, header > nav{
        flex-flow: column nowrap;  
        display: flex;
        justify-content: center;
    }
    header > h1{
        flex-basis: 50px; 
    }
    header > nav > a{
        width: 50vw;
    }
}